.infantry-bangladesh {
    z-index: 1;
    position: absolute;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}

.infantry-pakistan {
    z-index: 1;
    position: absolute;
    color: black;
    text-align: center;   
    font-weight: bold;
    font-size: 14px;
}